@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin Sans", sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5;
}