@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

html {
    font-size: 62.5%;
}

.main-div {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);
}

.inner-div {
    width: 40vw;
    padding: 3rem 8rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

.inner-div h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}

.inner-div li {
    font-size: 2rem;
    list-style: none;
    margin-top: 1.5rem;
}

input {
    cursor: pointer;
}

#submit,
.btn {
    padding: 1rem 3rem;
    outline: none;
    margin: auto;
    display: block;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #74b9ff;
    border: none;
    color: #fff;
    letter-spacing: 0.2rem;
}

#submit:hover {
    background-color: #0984e3;
    cursor: pointer;
}

#showScore {
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 5rem;
    box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.4);
}

#showScore h3 {
    font-size: 3rem;
    text-align: center;
}

.scoreArea {
    display: none;
}

.btn {
    margin-top: 2rem;
    background-color: #55efc4;
    color: #2d3436;
}

.btn:hover {
    background-color: #00b894;
    color: #fff;
}